<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>eShope - Best eCommerce Website for you</title>-->
<!--    &lt;!&ndash; Google fonts &ndash;&gt;-->
<!--    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">-->
<!--    &lt;!&ndash; Template CSS Style link &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{/assets/css/style-starter.css}">-->
<!--    <link rel="stylesheet" th:href="@{/assets/css/all.css}">-->
<!--</head>-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('New User','none')"/>

<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Users</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Dashboard</a></li>
                <li><i class="fas fa-angle-right"></i><a th:href="@{/users}">Users</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>New User</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">CREATE NEW USER</p>
            <h3 class="title-style">Registration Form</h3>
        </div>
        <div class="row contact-block">
            <div class="col-md-7 contact-right">
                <ul>
                    <li class="alert alert-danger" role="alert" th:if="${emailNotUnique!=null}" th:text="${emailNotUnique}"></li>
                    <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('user.*')}" th:text="${error}" />
                </ul>
                <form th:action="@{/users/saveUser}" method="post" class="signin-form" th:object="${user}" enctype="multipart/form-data">
                    <div class="input-grids">
                        <input type="email" th:field="*{email}" placeholder=" Email" name="email"
                               class="contact-input" />
                        <input type="text" th:field="*{firstName}" placeholder="First Name"
                               class="contact-input" />
                        <input type="text" th:field="*{lastName}" placeholder="Last Name"
                               class="contact-input" />
                        <input type="password" th:field="*{password}" placeholder="Password"
                               class="contact-input" />

                        <div class="form-group row ">
                            <label class="col-sm-4 col-form-label">Roles :</label>
                            <div class="col-sm-8">
                                <div th:each="role : ${listAllRoles}" class="row">
                                    <input id="my-chkbox" class="col-4" type="checkbox" name="roles"
                                           th:field="*{roles}" th:value="${role.id}">
                                    <label class="col-8" id="my-txt" th:text="${role.name}">Role1</label>
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-form-label col-4">User Enable : </label>
                            <input type="checkbox" id="my-chkbox" th:field="*{enabled}" name="enabled"  class="col-8"/>
                        </div>
                        <div class="row form-group form-inline">
                            <label class="col-form-label col-4">Photos : </label>
                            <input type="file" id="fileImage" class="col-form-label col-4 mb-2" name="image" accept="image/png,image/jpeg">
                            <img id="thumbnail" alt="Photos Preview" class="img-fluid col-4" th:src="@{../assets/images/users/default-user.png}">
                        </div>
                        <!--&lt;!&ndash;                    -->
                        <div class="text-start">
                            <button type="submit" class="btn btn-style btn-style-3">Save User</button>
                            <a type="button" value="cancel" class="btn btn-style btn-style-3" th:href="@{/users}">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>


            <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
                <div class="contact-left">
                    <div class="cont-details">
                        <div class="d-flex contact-grid">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-duotone fa-user-secret"></i>
                            </div>
                            <div class="cont-right">
                                <h3>Roles Description</h3>

                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2" th:each="role : ${listAllRoles}">
                            <div class="cont-left text-center me-3">
                                <h6 th:text="${role.name}"></h6>
                            </div>
                            <div class="cont-right">
                                <p th:text="${role.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->

<!--  SHOW IMAGE THUMBNAIL-->
<script th:src="@{/assets/js/imageThumbnail_ProductDetails.js}"></script>

</body>

</html>
