<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Home Page Customization','none')"/>

<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Home Page Customization</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Dashboard</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Home Page Customization</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<div class="site-section">

    <div class="table-responsive-class">

        <div class="row mb-4">
            <div class="overview-wrap">
                <h3 class="heading-21921 p-3">Home Page Customization(Manage Sections)</h3>
            </div>
            <div class="mb-2">
                Manage sections that are displayed on the website's home page. The order of sections matters.<br/>
            </div>
            <div class="d-flex">
                <a th:href="@{/sections/new/all_categories}" class="ml-1">Add All Categories Section</a>
                &nbsp;|&nbsp;
                <a th:href="@{/sections/new/product}" class="ml-1">Add Product Section</a>
                &nbsp;|&nbsp;
                <a th:href="@{/sections/new/category}" class="ml-1">Add Category Section</a>
                &nbsp;|&nbsp;
                <a th:href="@{/sections/new/brand}" class="ml-1">Add Brand Section</a>
                &nbsp;|&nbsp;
                <a th:href="@{/sections/new/article}" class="ml-1">Add Article Section</a>
                &nbsp;|&nbsp;
                <a th:href="@{/sections/new/text}" class="ml-1">Add Text Section</a>
            </div>
            <ul>
                <li class="alert alert-success text-center" role="alert" th:if="${message!=null}">[[${message}]]</li>
            </ul>
            <table class="table table-striped ">
                <thead class="table-dark w-100">
                <tr>
                    <th>ID</th>
                    <th>Heading</th>
                    <th>Type</th>
                    <th>Position</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="section : ${listSections}">
                    <td>[[${section.id}]]</td>
                    <td>[[${section.heading}]]</td>
                    <td>[[${section.type}]]</td>
                    <td>
                        <a th:href="@{'/sections/moveup/' + ${section.id}}" class="fas fa-chevron-up fa-2x" title="Move this section up"></a>
                        <span class="m-3">[[${section.sectionOrder}]]</span>
                        <a th:href="@{'/sections/movedown/' + ${section.id}}" class="fas fa-chevron-down fa-2x" title="Move this section down"></a>
                    </td>
                    <td>
                        <a th:if="${section.enabled==true}" class="fas fa-thin fa-circle-check"
                           th:href="@{'/sections/'+${section.id}+'/enabled/false'}" title="Disable this section"></a>
                        <a th:if="${section.enabled==false}" class="fas fa-thin fa-circle-xmark"
                           th:href="@{'/sections/'+${section.id}+'/enabled/true'}" title="Enable this section"></a>
<!--                        <div th:replace="fragments :: status(${section.enabled}, 'section', '/sections/' + ${section.id})" />-->
                    </td>
                    <td>
                        <a class="fas fa-light fa-pen-to-square" th:href="@{'/sections/edit/'+ ${section.type} + '/' +${section.id}}"
                           title="edit this section"></a>
                        <a class="fas fa-light fa-trash " id="deleteBtn" type="button" data-toggle="modal"
                           data-target="#deleteModal" th:attr="data-whatever=${section.id}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->

<!--THEME CHANGE START-->
<div th:replace="Fragments/fragment::theme_change"/>
<!--THEME CHANGE END-->


<!--DELETE USER MODAL START-->
<div th:replace="Fragments/fragment::deleteModal('Section','sections')"/>
<!--DELETE USER MODAL END-->




</body>

</html>

