
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Orders','none')"/>

<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
  <div class="w3l-breadcrumb py-lg-5">
    <div class="container pt-4 pb-sm-4">
      <h4 class="inner-text-title pt-5">Orders</h4>
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{/home}">Dashboard</a></li>
        <li><i class="fas fa-angle-right"></i><a th:href="@{/orders}">Orders</a></li>
        <li class="active"><i class="fas fa-angle-right"></i>Edit Order</li>
      </ul>
    </div>
  </div>
</section>
<!-- //inner banner -->


<section class="w3l-contact py-5" id="contact">
  <div class="container py-md-5 py-4">
    <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
      <p class="text-uppercase">Edit Existing Order</p>
      <h3 class="title-style">Order Details</h3>
    </div>
    <div class="row ">
      <div class="col-md contact-right">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs " id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#overview" role="tab">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#products" role="tab">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#shipping" role="tab">Shipping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#tracking" role="tab">Track</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane  p-3 " id="overview" role="tabpanel">
            <div th:replace="Orders/editOrdersOverview::content"></div>
          </div>
          <div class="tab-pane p-3 active " id="products" role="tabpanel">
            <div th:replace="Orders/editOrdersProducts::content"></div>
          </div>
          <div class="tab-pane p-3 " id="shipping" role="tabpanel">
            <div th:replace="Orders/editOrdersShipping::content"></div>
          </div>
          <div class="tab-pane p-3 " id="tracking" role="tabpanel">

          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<div class="col-md-2 login-center text-start">
  <a th:href="@{/orders}">
    <button class="btn btn-style btn-style-3 text-left">BACK</button>
  </a>
</div>


<!--ADD PRODUCT MODAL-->
<div class="modal fade " id="addProductModal" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content myModal">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" >Add Product</h5>

        <button type="button" class="close closeBtn" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="w-100 embed-responsive-item" style="height: 50rem!important;"></iframe>
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-end">
          <button type="button" class="btn btn btn-style btn-style-3 closeBtn" >Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!--  /ADD PRODUCT MODAL    -->


<div class="modal fade " id="myModal1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content myModal">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="deleteLabel">Delete Confirmation</h5>

        <button type="button" class="close closeBtn1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="confirmText"></span>
      </div>

      <div class="modal-footer">
        <div class="text-end">
          <button type="button" class="btn btn btn-style btn-style-3 closeBtn1" >Close</button>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- footer -->
<div th:replace="~{Fragments/footer :: footer}">...</div>
<!-- //footer -->


<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->

<!--    THEME CHANGE    -->
<div th:replace="Fragments/fragment::theme_change"/>
<!--    /THEME CHANGE    -->


//SHOWING ADD PRODUCT MODAL
<script>
  $("#addProduct").on("click",function(e){
  e.preventDefault();
     $('#addProductModal').modal("show")
  })

  $(".closeBtn1").on("click",function(e){
  console.log($(this));
  $('#myModal1').modal("hide")
  })

  $(".closeBtn2").on("click",function(e){
  console.log($(this));
  $('#addProductModal').modal("hide")
  })

  $('#addProductModal').on('show.bs.modal', function (event) {

  var myLink="http://localhost:8080/eShopeAdmin/orders/search_product";
  $(this).find("iframe").attr("src",myLink);
})

</script>



<div class="modal" id="modalDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modalBody">Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!--  ADD PRODUCT -->
<script>
  contextPath="[[@{/}]]";
  var csrfHeaderName="[[${_csrf.headerName}]]";
  var csrfValue="[[${_csrf.token}]]";
  var chk;

  function addProduct(productId,productName){
  $('#addProductModal').modal("hide");
<!--  $('#myModal1').modal('show');-->
  getShippingCost(productId);
  }

  function getShippingCost(productId){
    selectedCountry=$("#country option:selected");
    countryId=selectedCountry.val();

    state=$("#state").val();
    if(state.length==0){
    state=$("#city").val();
    }
    requestUrl=contextPath+"get_shipping_cost";
    alert(requestUrl+" "+csrfHeaderName+" "+ csrfValue);
    params={productId:productId,countryId:countryId,state:state};

     $.ajax({
        type:'POST',
        url:requestUrl,
        beforeSend:function(xhr){
            xhr.setRequestHeader(csrfHeaderName,csrfValue);
        },
        data:params
    }).done(function(shippingCost){
      getProductInfo(productId,shippingCost);
      alert(shippingCost);
    }).fail(function(err){
        $('#modalDialog').modal("show");
        getProductInfo(productId,0.0);
        showModalDialog("Warning","haha");
    });
  }

  function isProductAlreadyAdded(productId){
    productExists=false;

    $(".hiddenProductId").each(function(e){
      newProductId=$(this).val();

      if(newProductId==productId){
        productExists=true;
        return productExists;
      }
    });
    return productExists;
  }
</script>

<script>
  function showModalDialog(title, message) {
	$("#modalTitle").text(title);
	$("#modalBody").text(message);
	$("#modalDialog").modal();
}
</script>


<script>
function getProductInfo(productId,shippingCost) {
    requestURL = contextPath + "products/get/" + productId;
    $.get(requestURL, function(productJSON) {
        console.log(productJSON);

        productName=productJSON.name;
        mainImagePath=contextPath.substring(0,contextPath.length-1)+productJSON.imagePath;
        productCost=$.number(productJSON.cost,2);
        productPrice=$.number(productJSON.price,2);

       htmlCode= generateProductCode(productId,productName,mainImagePath,productCost,productPrice,shippingCost);
       $("#productList").append(htmlCode);

    }).fail(function(err){
      alert(err.responseJSON.message);
    })
}
</script>

<script>


  function generateProductCode(productId,productName,mainImagePath,productCost,productPrice,shippingCost){

    nextCount=$(".hiddenProductId").length+1;
    quantityId="quantity"+nextCount
    priceId="price"+nextCount
    subTotalId="subTotal"+nextCount

    htmlCode=`
      <div class="row  p-3" >
        <div class="col-1">
          <div class="div-count">${nextCount}</div>
        </div>
        <input type="hidden" name="productId" value="${productId}" class="hiddenProductId"/>
        <div class="col-3">
          <img src="${mainImagePath}" class="img-fluid">
        </div>
        <div class="col-8">
          <div class="text-wrap  align-items-center h-100 d-flex ">
            <b>${productName}</b>
          </div>
        </div>
        <div class="row">
          <div class="input-grids product-block m-4">
            <div class="row form-group">
              <label class="col-form-label col-sm-2">Product Cost : </label>
              <input type="text" value="${productCost}" rowNumber="${nextCount}" class=" col-sm-10 cost-input"/>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-sm-2">Quantity : </label>
              <input type="number" step="1" min="1" rowNumber="${nextCount}" id="${quantityId}" max="5" value="1"  class="quantity-input col-sm-10"/>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-sm-2">Unit Price : </label>
              <input type="text" value="${productPrice}"  rowNumber="${nextCount}" id="${priceId}" class=" col-sm-10 price-input"/>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-sm-2">Shipping Cost : </label>
              <input type="text" value="${shippingCost}"  class=" col-sm-10 shippingCost-input"/>
            </div>
            <div class="row form-group">
              <label class="col-form-label col-sm-2">Subtotal : </label>
              <input type="text" value="${productPrice}" readonly id="${subTotalId}" class=" col-sm-10 subTotal-output"/>
            </div>
          </div>
        </div>
      </div>
      <hr class="w-75 " style="margin:auto">
    `

    return htmlCode;
  }


</script>

<script th:src="@{/assets/js/jquery.number.min.js}"></script>
<script th:src="@{/assets/js/formatAmountNumber.js}"></script>
//TO SHOW COUNTRIES/STATE DROPDOWN
<script>
    var dropDownCountry;
    var dataListState;
    var fieldState;
    var contextPath="[[@{/}]]";
    $(document).ready(function() {
        dropDownCountry=$("#country");
        dataListState=$("#listStates");
        fieldState=$("#state");

        dropDownCountry.on("change",function(){
            loadStatesForCountry();
           fieldState.val("").focus();
        });
    });

    function loadStatesForCountry(){
        selectedCountry=$("#country option:selected");
        console.log(contextPath);
        countryId=selectedCountry.val();
        url=contextPath+"states/listByCountry/"+countryId;
        console.log(url)

        $.get(url,function(responseJSON){
            dataListState.empty();

            $.each(responseJSON,function(index,state){
                $("<option>").val(state.name).text(state.name).appendTo (dataListState);
            })
        });
    }

</script>


</body>
</html>
