<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="content" th:remove="tag">-->
<div class="modal-header border-bottom-0">
    <h5 class="modal-title text-center" id="viewProductLabel">Product Details</h5>
    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs " id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#images" role="tab">Images</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#details" role="tab">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane  p-3 active" id="overview" role="tabpanel">
            <div class="input-grids product-block">
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Product Name : </label>
                    <input type="text" th:value="${product.name}" readonly class=" col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Alias : </label>
                    <input type="text" readonly th:value="${product.alias}" class="contact-input col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Brand : </label>
                    <input type="text" th:value="${product.brand.name}" readonly class="contact-input col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Category : </label>
                    <input type="text" th:value="${product.category.name}" readonly class="contact-input col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Product Enable : </label>
                    <input type="checkbox" id="my-chkbox" th:checked="${product.enabled}" onclick="return false;"
                           class="col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Product In Stock : </label>
                    <input type="checkbox" id="my-chkbox" th:checked="${product.inStock}" onclick="return false;"
                           class="col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Cost : </label>
                    <input type="text" th:value="${product.cost}" readonly class=" col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">List Price : </label>
                    <input type="text" th:value="${product.price}" readonly class=" col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Discount : </label>
                    <input type="text" th:value="${product.discountPercentage}" readonly class=" col-sm-10"/>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Updated Time : </label>
                    <span type="text" th:text="${product.updateTime}" readonly class=" col-sm-10"></span>
                </div>

            </div>
        </div>
        <div class="tab-pane p-3  " id="description" role="tabpanel">
            <div class="m-2">
                <label>Short Description: </label>
                <div class="border p-2 m-2" th:utext="${product.shortDescription}"></div>
            </div>
            <div class="m-2 mt-3">
                <label>Full Description: </label>
                <div class="border p-2 m-2" th:utext="${product.fullDescription}"></div>
            </div>
        </div>
        <div class="tab-pane p-3 " id="images" role="tabpanel">
            <div class="row form-group">
                <div class="col-sm-4 p-2">
                    <div class="myBorder">
                        <div class="p-2">
                            <label class="my-col-form-label">Main Image : [[${product.mainImage}]]</label>
                        </div>
                        <img alt="Main Image Preview" class="thumbnail img-fluid row mx-auto mb-2"
                             th:src="@{${product.getMainImagePath}}">
                    </div>
                </div>

                <!--        FOR SHOWING EXTRA IMAGES IN EDIT MODE-->
                <th:block th:each="productImage,status: ${product.images}">
                    <div class="col-sm-4 p-2">
                        <div class="myBorder">
                            <div class="p-2">
                                <label class="my-col-form-label">Extra Image [[${status.index+1}]]:
                                    [[${productImage.name}]]</label>
                            </div>
                            <img th:alt="'Extra Image '+${status.index+1}+' Preview'"
                                 class="img-fluid row mx-auto mb-2 thumbnail" th:src="@{${productImage.getImagePath}}">
                        </div>
                    </div>
                </th:block>

            </div>
        </div>
        <div class="tab-pane p-3 " id="details" role="tabpanel">
            <table class="table table-striped table-hover">
                <thead class="table-dark w-100">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail: ${product.details}">
                    <td>[[${detail.name}]]</td>
                    <td>[[${detail.value}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane p-3 " id="shipping" role="tabpanel">
            <div class="input-grids product-block">
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Length : </label>
                    <input type="text" th:value="${product.length}" readonly class=" col-sm-10"/>
                    <!--                <input type="number" step="0.01" min="0" th:field="*{length}" placeholder="Length (inch)"  class="contact-input col-sm-10"/>-->
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Width : </label>
                    <input type="text" th:value="${product.width}" readonly class=" col-sm-10"/>

                    <!--                <input type="number" step="0.01" min="0" th:field="*{width}" placeholder="Width (inch)"  class="contact-input col-sm-10"/>-->
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Height : </label>
                    <input type="text" th:value="${product.height}" readonly class=" col-sm-10"/>
                </div>

                <!--                <input type="number" step="0.01" min="0" th:field="*{height}" placeholder="Height (inch)"  class="contact-input col-sm-10"/>-->

                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Weight : </label>
                    <input type="text" th:value="${product.weight}" readonly class=" col-sm-10"/>

                    <!--                    <input type="number" step="0.01" min="0" th:field="*{weight}" placeholder="Weight (pounds)"  class="contact-input col-sm-10"/>-->
                </div>
            </div>
        </div>

    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn btn-style btn-style-3 " data-dismiss="modal">Close</button>
</div>

<!--</div>-->

<!--</body>-->
<!--</html>-->