
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Reset Password ','none')"/>
<body>

<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
            <a th:if="${SITE_LOGO=='None'||SITE_LOGO=='none'}" th:href="@{/home}" class="navbar-brand"><i class="fas fa-sharp fa-solid fa-cart-shopping"></i>[[${SITE_NAME}]]</a>
            <a th:unless="${SITE_LOGO=='None'||SITE_LOGO=='none'}" th:href="@{/home}" class="navbar-brand"><img id="siteLogo" width="100" th:src="@{${SITE_LOGO}}"></a>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>

</header>
<!-- //header -->


<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Reset Password </h4>
            <ul class="breadcrumbs-custom-path">
                <li class="active">Reset Password</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" >
            <h3 class="title-style">Reset Password</h3>
        </div>
        <div class="row contact-block text-center d-flex justify-content-center" >
            <form th:action="@{/resetPassword}" method="post" class="signing-form  contact-block" >
            <input type="hidden" th:value="${token}" name="token">
                <div>
                    <input type="password"  id="password" name="password" placeholder="Enter your new password" minlength="6" maxlength="15" required="required" class="contact-input w-50" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" autofocus="autofocus"/>
                </div>
                <div>
                    <input type="password" id="confirmPassword" placeholder="Confirm your new password"  class="contact-input w-50" oninput="checkPasswordMatch(this)"/>
                </div>
                <div >
                    <button type="submit" class="btn btn-style btn-style-3">Change Password</button>
                </div>
            </form>
        </div>

    </div>
</section>


<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>


<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->


<script th:src="@{/assets/js/imageThumbnail_ProductDetails.js}"></script>

<script>

      function checkPasswordMatch(confirmPassword){
        if(confirmPassword.value!=$("#password").val()){
            confirmPassword.setCustomValidity("Password Do not match");
        }
        else{
            confirmPassword.setCustomValidity("");
        }
      }
</script>


</body>
</html>