
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Articles','none')"/>

<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
  <div class="w3l-breadcrumb py-lg-5">
    <div class="container pt-4 pb-sm-4">
      <h4 class="inner-text-title pt-5">Articles</h4>
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{/home}">Dashboard</a></li>
        <li class="active"><i class="fas fa-angle-right"></i>Articles</li>
      </ul>
    </div>
  </div>
</section>
<!-- //inner banner -->


<div class="site-section">

  <div class="table-responsive-class">

    <!--    add new Articles button    -->
    <div class="row mb-4">
      <div class="overview-wrap">
        <h3 class="heading-21921 p-3">eShope Articles Details</h3>
        <a th:href="@{/articles/new}">
          <button class="btn btn-style btn-style-3 text-left" >Add Article</button>
        </a>

      </div>
    </div>
    <!-- /   add new Articles button    -->
    <ul>
      <li class="alert alert-success text-center" role="alert" th:if="${message!=null}">[[${message}]] </li>
      <li class="alert alert-danger text-center" role="alert" th:if="${errorMessage!=null}">[[${errorMessage}]] </li>
    </ul>

    <div class="row mb-4">
      <div class="overview-wrap user-block">
        <form th:action="@{/articles/page/1}" class="w-100">
          <input type="hidden" name="sortField" th:value="${sortField}">
          <input type="hidden" name="sortDir" th:value="${sortDir}">
          <div class="d-flex flex-row">
            <input type="search" name="keyword" required th:value="${keyword}" class="m-3"
                   placeholder="Search box">
            <button type="submit" value="search" class=" btn btn-style btn-style-2   text-center"><i
                    class="fas fa-regular fa-magnifying-glass"></i></button>
            <button type="button" value="Clear" class=" btn btn-style btn-style-2   text-left"
                    onclick="clearFilter()">Clear
            </button>
          </div>
        </form>
      </div>
    </div>

    <!--        table started-->
    <div class="full-details">
      <table class="table table-striped ">
        <thead class="table-dark w-100">
        <tr>
          <th th:replace="~{Fragments/fragment::column_link('articles','id','Id')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('articles','title','Title')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('articles','type','Type')}"></th>
          <th scope="col"  class="tablePhotosHeader">Created By</th>
          <th th:replace="~{Fragments/fragment::column_link('articles','updatedTime','Updated Time')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('articles','published','Published')}"></th>

          <th class="sorting" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${listAllArticles}">
          <td scope="row" th:text="${article.id}"></td>
          <td th:text="${article.title}"></td>
          <td th:text="${article.type}"></td>
          <td th:text="${article.user.FullName}"></td>
          <td th:text="${#dates.format(article.updatedTime,'yyyy-MM-dd HH:mm:ss')}"></td>
          <td>
            <a th:if="${article.published==true}" class="fas fa-thin fa-circle-check"
               th:href="@{'/articles/'+${article.id}+'/enabled/false'}" title="UnPublish this Article"></a>
            <a th:if="${article.published==false}" class="fas fa-thin fa-circle-xmark"
               th:href="@{'/articles/'+${article.id}+'/enabled/true'}" title="Publish this Article"></a>
          </td>
          <td>
            <a class="fas fa-light fa-pen-to-square" th:href="@{'/articles/edit/'+${article.id}}" title="edit this article"></a>
            <a class="fas fa-light fa-trash " id="deleteBtn"  type="button"  data-toggle="modal" data-target="#deleteModal" th:attr="data-whatever=${article.Id}"  ></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- table less-details-->
  <div class="less-details">
    <th:block th:each="article: ${listAllArticles}">
      <div class="col-12 col-md-4">
        <div class=" w3l-grids-block-5   m-3">
          <div class="card myModal" style="box-shadow: 0.1px 0.1px 0.1px 2px #ffffff24;">
            <div class="card-header">
              <div class="d-flex">
                <div class="col">
                  <h6>Article Id: # [[${article.id}]]</h6>
                </div>
                <div class="d-flex ">
                  <div class="justify-content-center">
                    <a class="fas fa-light fa-pen-to-square" th:href="@{'/articles/edit/'+${article.id}}" title="edit this Article" ></a>
                    <a class="fas fa-light fa-trash " id="deleteBtn"  type="button"  data-toggle="modal" data-target="#deleteModal" th:attr="data-whatever=${article.Id}"  ></a>
                  </div>
                  &nbsp;

                </div>
              </div>
            </div>
            <div class="card-body text-left">
              <div>
                <b>[[${article.title}]]</b>
              </div>
              <div>
                <b>[[${article.type}]]</b>
              </div>
              <div>
                <i class="fas fa-user"></i>
                [[${article.user.fullName}]]
              </div>
            </div>
            <div class="card-footer text-muted">
              <div th:text="${#dates.format(article.updatedTime,'yyyy-MM-dd HH:mm:ss')}"></div>
              <div>Published : <a th:if="${article.published==true}" class="fas fa-thin fa-circle-check"
                                  th:href="@{'/articles/'+${article.id}+'/enabled/false'}" title="UnPublish this Article"></a>
                <a th:if="${article.published==false}" class="fas fa-thin fa-circle-xmark"
                   th:href="@{'/articles/'+${article.id}+'/enabled/true'}" title="Publish this Article"></a></div>
            </div>
          </div>

        </div>
      </div>
    </th:block>
  </div>


  <!-- DELETE MODAL -->
  <div th:replace="Fragments/fragment::deleteModalTemplate"/>

  <!-- pagination -->
  <div th:replace="Fragments/fragment::pagination('/articles/page/','articles')"/>
  <!-- /pagination -->

  <div class="col-md-2 login-center text-start">
    <a th:href="@{/home}">
      <button class="btn btn-style btn-style-3 text-left">BACK</button>
    </a>
  </div>
</div>


<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->

<!--CLEAR FILTER-->
<div th:replace="Fragments/fragment::clear_filter('articles')"/>

<!--THEME CHANGE-->
<div th:replace="Fragments/fragment::theme_change"/>


<!--</script>-->
<div th:replace="Fragments/fragment::deleteModal('Article','articles')"/>

</body>

</html>
