<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="content" th:remove="tag">
  <div>
    <p>Use this page to manage countries which will be displayed int the customer registration form.Click load Country List first.</p>
    <br>
  </div>
<div  class="d-flex justify-content-center">
    <div class="toast m-2 d-flex justify-content-center" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
      <div role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          <span id="toastMessageCountry"></span>
        </div>
      </div>
    </div>
</div>
  <div>
    <input type="button" value="Load Country List" id="buttonLoadCountries" class="btn btn-style btn-style-1"/>
  </div>

  <div>
    <select class="form-control m-2" style="height:300px;" id="countriesDropDown" size="3"></select>
  </div>
  <form id="formCountry">
    <div class="form-group row m-2">
      <div class="col-lg-4 d-flex flex-row">
        <label class="col-form-label m-1" id="labelCountryName">Country Name:</label>
        <div class="col-md p-1">
          <input type="text" class="form-control " id="fieldCountryName"/>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-row">
        <label class="col-form-label m-1">Country Code:</label>
        <div class="col-md p-1">
          <input type="text" class="form-control " id="fieldCountryCode"/>
        </div>
      </div>
      <div class="col-sm-4 d-flex flex-row">
        <button  id="buttonAddCountry"  class="btn btn-style btn-style-2 " disabled="disabled" value="Add">Add</button>
        <button  id="buttonUpdateCountry" class="btn btn-style btn-style-2" disabled="disabled">Update</button>
        <button  id="buttonDeleteCountry" class="btn btn-style btn-style-2 " disabled="disabled">Delete</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>