<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="content" th:remove="tag">
    <form th:action="@{/settings/save_general}" method="post" enctype="multipart/form-data">
        <div class="input-grids">
            <div class="row form-group">
                <label class="col-form-label col-sm-2">Site Name : </label>
                <input type="text" th:value="${SITE_NAME}" placeholder="SITE_NAME" name="SITE_NAME" class="contact-input col-sm-10"/>
            </div>
            <div class="row form-group">
                <label class="col-form-label col-sm-2">Copyright : </label>
                <input type="text" th:value="${COPYRIGHT}" placeholder="COPYRIGHT" name="COPYRIGHT" class="contact-input col-sm-10"/>
            </div>
            <div class="row form-group mb-2">
                <label class="col-form-label col-sm-2">Site Logo : </label>
                <input type="file" id="fileImage" class="col-form-label col-sm-2 mb-2" name="image"
                       accept="image/png,image/jpeg">
                <img id="thumbnail" alt="Site Logo Thumbnail" th:if="${SITE_LOGO=='null'||SITE_LOGO=='none'}" class="col-sm-6" style="width:150px; height:100px;"
                     th:src="@{/assets/images/users/default-user.png}">
                <img id="thumbnail" alt="Site Logo Thumbnail" th:unless="${SITE_LOGO=='null'||SITE_LOGO=='none'}" class="col-sm-6" style="width:150px; height:100px;"
                      th:src="@{${S3_BASE_URI +SITE_LOGO}}">
            </div>
            <div class="row form-group">
                <label class="col-form-label col-sm-2">Currency Type : </label>
                <select class=" my-form-control contact-input select-toggle col-sm-10" name="CURRENCY_ID">
                    <option th:each="currency : ${listCurrencies}" th:value="${currency.id}"
                            th:selected="(${currency.id}==${CURRENCY_ID})">[[${currency}]]
                    </option>
                </select>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Currency Symbol Position : </label>
                    <select class=" my-form-control contact-input select-toggle col-sm-10"
                            name="CURRENCY_SYMBOL_POSITION">
                        <option value="Before Price" th:selected="(${CURRENCY_SYMBOL_POSITION}=='Before Price')">Before
                            Price
                        </option>
                        <option value="After Price" th:selected="(${CURRENCY_SYMBOL_POSITION}=='After Price')">After Price
                        </option>
                    </select>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Decimal Point Type : </label>
                    <select class=" my-form-control contact-input select-toggle col-sm-10" name="DECIMAL_POINT_TYPE">
                        <option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE}=='COMMA')">Comma (,)</option>
                        <option value="POINT" th:selected="(${DECIMAL_POINT_TYPE}=='POINT')">Point (.)</option>
                    </select>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Decimal Digits : </label>
                    <select class=" my-form-control contact-input select-toggle col-sm-10" name="DECIMAL_DIGITS">
                        <option value="0" th:selected="(${DECIMAL_DIGITS}=='0')">0</option>
                        <option value="1" th:selected="(${DECIMAL_DIGITS}=='1')">1</option>
                        <option value="2" th:selected="(${DECIMAL_DIGITS}=='2')">2</option>
                        <option value="3" th:selected="(${DECIMAL_DIGITS}=='3')">3</option>
                        <option value="4" th:selected="(${DECIMAL_DIGITS}=='4')">4</option>
                    </select>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-sm-2">Thousands Point Type : </label>
                    <select class=" my-form-control contact-input select-toggle col-sm-10" name="THOUSANDS_POINT_TYPE">
                        <option value="COMMA" th:selected="(${THOUSANDS_POINT_TYPE}=='COMMA')">Comma (,)</option>
                        <option value="POINT" th:selected="(${THOUSANDS_POINT_TYPE}=='POINT')">Point (.)</option>
                    </select>
                </div>
            </div>
            <!--                            SAVE BUTTON-->
            <div class="text-start">
                <button type="submit" class="btn btn-style btn-style-3">Save </button>
                <a type="button" value="cancel" class="btn btn-style btn-style-3" th:href="@{/home}">Cancel</a>
            </div>
        </div>
    </form>

</div>


</body>
</html>