<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="content" th:remove="tag">
  <form th:action="@{/settings/save_mail_server}" method="post">
    <div class="input-grids">
      <div class="row form-group">
        <label class="col-form-label col-sm-2">SMTP Server Host Name : </label>
        <input type="text" th:value="${MAIL_HOST}" placeholder="MAIL_HOST" name="MAIL_HOST" class="contact-input col-sm-10"/>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">Port Number : </label>
        <input type="text" th:value="${MAIL_PORT}" placeholder="MAIL_PORT" name="MAIL_PORT" class="contact-input col-sm-10"/>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">UserName : </label>
        <input type="text" th:value="${MAIL_USERNAME}" placeholder="MAIL_USERNAME" name="MAIL_USERNAME" class="contact-input col-sm-10"/>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">Password : </label>
        <input type="password" th:value="${MAIL_PASSWORD}" placeholder="MAIL_PASSWORD" name="MAIL_PASSWORD" class="contact-input col-sm-10"/>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">Server Authentication Required : </label>
        <select class=" my-form-control contact-input select-toggle col-sm-10" name="SMTP_AUTH">
          <option value="true" th:selected="(${SMTP_AUTH}=='true')">True</option>
          <option value="false" th:selected="(${SMTP_AUTH}=='false')">False</option>
        </select>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">Server Requires Secured Connection (TLS) : </label>
        <select class=" my-form-control contact-input select-toggle col-sm-10" name="SMTP_SECURED">
          <option value="true" th:selected="(${SMTP_SECURED}=='true')">True</option>
          <option value="false" th:selected="(${SMTP_SECURED}=='false')">False</option>
        </select>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">E-mail Address : </label>
        <input type="text" th:value="${MAIL_FROM}" placeholder="MAIL_FROM" name="MAIL_FROM" class="contact-input col-sm-10"/>
      </div>
      <div class="row form-group">
        <label class="col-form-label col-sm-2">Sender Name : </label>
        <input type="text" th:value="${MAIL_SENDER_NAME}" placeholder="MAIL_SENDER_NAME" name="MAIL_SENDER_NAME" class="contact-input col-sm-10"/>
      </div>
    </div>
    <div class="text-start">
      <button type="submit" class="btn btn-style btn-style-3">Save </button>
      <a type="button" value="cancel" class="btn btn-style btn-style-3" th:href="@{/home}">Cancel</a>
    </div>
  </form>

</div>
</body>
</html>