
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Product Reviews','none')"/>

<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
  <div class="w3l-breadcrumb py-lg-5">
    <div class="container pt-4 pb-sm-4">
      <h4 class="inner-text-title pt-5">Reviews</h4>
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{/home}">Dashboard</a></li>
        <li class="active"><i class="fas fa-angle-right"></i>Reviews</li>
      </ul>
    </div>
  </div>
</section>
<!-- //inner banner -->



<div class="site-section">
  <!-- table full-details-->

  <div class="table-responsive-class">

    <div class="row mb-4">
      <div class="overview-wrap">
        <h3 class="heading-21921 p-3">eShope Product Reviews</h3>
      </div>
    </div>

    <ul>
      <li class="alert alert-success text-center" role="alert" th:if="${message!=null}">[[${message}]]</li>
    </ul>

    <div class="row mb-4">
      <div class="overview-wrap user-block">
        <form th:action="@{/reviews/page/1}" class="w-100">
          <input type="hidden" name="sortField" th:value="${sortField}">
          <input type="hidden" name="sortDir" th:value="${sortDir}">
          <div class="d-flex flex-row">
            <input type="search" name="keyword" required th:value="${keyword}" class="m-3"
                   placeholder="Search box">
            <button type="submit" value="search" class=" btn btn-style btn-style-2   text-center"><i
                    class="fas fa-regular fa-magnifying-glass"></i></button>
            <button type="button" value="Clear" class=" btn btn-style btn-style-2   text-left"
                    onclick="clearFilter()">Clear
            </button>
          </div>
        </form>
      </div>
    </div>



    <!--        table started-->
    <div class="full-details">
      <table class="table table-striped ">
        <thead class="table-dark w-100">
        <tr>
          <th th:replace="~{Fragments/fragment::column_link('reviews','id',' Id')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('reviews','product.name','Product')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('reviews','customer.firstName','Customer')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('reviews','rating','Rating')}"></th>
          <th th:replace="~{Fragments/fragment::column_link('reviews','reviewTime','Review Time')}"></th>
          <th class="sorting" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review: ${listAllReviews}">
          <td scope="row" th:text="${review.id}"></td>
          <td><a th:text="${review.product.shortName}" th:href="@{'/products/detail/'+${review.product.id}}" class="link-detail-product" title="view this Product details" data-toggle="modal" data-target="#viewProductModal" ></a></td>
          <td><a th:text="${review.customer.fullName}" th:href="@{'/customers/detail/'+${review.customer.id}}" class="link-detail-customer" title="view this Customer details" data-toggle="modal" data-target="#viewCustomerModal" ></a></td>
          <td th:text="${review.rating}" ></td>
          <td th:text="${review.reviewTime}"></td>
          <td>
            <a class="fas fa-light fa-file-alt" th:href="@{'/reviews/detail/'+${review.id}}"
               title="view this review" data-toggle="modal" data-target="#viewReviewModal" th:attr="data-whatever=${review.id}"></a>
            <a class="fas fa-light fa-pen-to-square" th:href="@{'/reviews/edit/'+${review.id}}"
               title="edit this review"></a>
            <a class="fas fa-light fa-trash " id="deleteBtn" type="button" data-toggle="modal"
               data-target="#deleteModal" th:attr="data-whatever=${review.id}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /table full-details-->

  <!-- table less-details-->
  <div class="less-details">
    <th:block th:each="review: ${listAllReviews}">
      <div class="col-12 col-md-4">
        <div class=" w3l-grids-block-5   m-3">
          <div class="card myModal" style="box-shadow: 0.1px 0.1px 0.1px 2px #ffffff24;">
            <div class="card-header">
              <div class="d-flex">
                <div class="col">
                  <h6>Review Id: # [[${review.id}]]</h6>
                </div>
                <div class="d-flex ">
                  <div class="justify-content-center">
                    <a class="fas fa-light fa-file-alt" th:href="@{'/reviews/detail/'+${review.id}}"
                       title="view this review" data-toggle="modal" data-target="#viewReviewModal" th:attr="data-whatever=${review.id}"></a>
                    <a class="fas fa-light fa-pen-to-square" th:href="@{'/reviews/edit/'+${review.id}}"
                       title="edit this review"></a>
                    <a class="fas fa-light fa-trash " id="deleteBtn" type="button" data-toggle="modal"
                       data-target="#deleteModal" th:attr="data-whatever=${review.id}"></a>
                  </div>
                  &nbsp;

                </div>
              </div>
            </div>
            <div class="card-body text-left">
              <div class="m-1">
                <b>Product:</b>
                <a th:text="${review.product.shortName}" th:href="@{'/products/detail/'+${review.product.id}}" class="link-detail-product" title="view this Product details" data-toggle="modal" data-target="#viewProductModal" ></a>
              </div>
              <div class="m-1">
                <b>Customer:</b>
                <a th:text="${review.customer.fullName}" th:href="@{'/customers/detail/'+${review.customer.id}}" class="link-detail-customer" title="view this Customer details" data-toggle="modal" data-target="#viewCustomerModal" ></a>
              </div>
              <div class="m-1">
                <b>Rating:</b>
                <span th:text="${review.rating}" ></span>
              </div>



            </div>
            <div class="card-footer text-muted">
              <div class="m-1">
                <b>Review Time:</b>
                <span th:text="${review.reviewTime}" ></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </th:block>
  </div>
  <!-- table less-details END-->

  <!--    VIEW MODAL    -->
  <div class="modal fade " id="viewProductModal" role="dialog" >
    <div class="modal-dialog modal-dialog-centered modal-xl" >
      <div class="modal-content myModal">
      </div>
    </div>
  </div>
  <!--    /VIEW MODAL   -->

  <div class="modal fade " id="viewCustomerModal" role="dialog" >
    <div class="modal-dialog modal-dialog-centered " >
      <div class="modal-content myModal">
      </div>
    </div>
  </div>

  <div class="modal fade " id="viewReviewModal" role="dialog" >
    <div class="modal-dialog modal-dialog-centered modal-xl " >
      <div class="modal-content myModal">
      </div>
    </div>
  </div>

  <!-- delete modal   -->
  <div th:replace="Fragments/fragment::deleteModalTemplate"/>

  <!-- / delete modal   -->

</div>
<!-- pagination -->
<div th:replace="Fragments/fragment::pagination('/reviews/page/','reviews')"/>
<!-- /pagination -->



<div class="col-md-2 login-center text-start">
  <a th:href="@{/home}">
    <button class="btn btn-style btn-style-3 text-left">BACK</button>
  </a>
</div>

<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->

<!--THEME CHANGE START-->
<div th:replace="Fragments/fragment::theme_change"/>
<!--THEME CHANGE END-->

<!--CLEAR FILTER-->
<div th:replace="Fragments/fragment::clear_filter('reviews')"/>

<!--DELETE USER MODAL START-->
<div th:replace="Fragments/fragment::deleteModal('review','reviews')"/>
<!--DELETE USER MODAL END-->


<!--    DETAIL PRODUCT MODAL    -->
<script>
$('#viewProductModal').on('show.bs.modal', function (event) {

  var button = $(event.relatedTarget)
  var myLink=button.attr("href");
  var modal = $(this)
  modal.find('.modal-content').load(myLink)
})


$('#viewCustomerModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var myLink=button.attr("href");
  var modal = $(this)
  modal.find('.modal-content').load(myLink)
})

$('#viewReviewModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var myLink=button.attr("href");
  var modal = $(this)
  modal.find('.modal-content').load(myLink)
})

</script>
<!--    /DETAIL PRODUCT MODAL    -->


</body>

</html>
