
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Registration Form','none')"/>
<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<div class="w3l-grids-block-5  py-5 ">
    <div class="container py-md-5 py-4">
        <div class="signup-content">
            <div class="signup-img">
                <img class="img-fluid d-none d-sm-block "th:src="@{/images/2.png}" style="height:100%" >
            </div>
            <div class="signup-form">
                <form th:action="@{/register/save}" method="post" class="signing-form contact-block" th:object="${customer}" >
                    <div class="input-grids">
                        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                            <p class="text-uppercase">New Customer?</p>
                            <h3 class="title-style">Register Now</h3>
                        </div>
                        <ul>
<!--                            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->

                            <div th:each="error : ${#fields.allErrors()}">
                                <li class="alert alert-danger" role="alert" th:text="${error}" />
                            </div>
                            <li class="alert alert-danger" role="alert" th:if="${emailNotUnique!=null}" th:text="${emailNotUnique}"></li>
                            <li class="alert alert-danger" role="alert" th:if="${passwordFailed!=null}" th:text="${passwordFailed}"></li>
                        </ul>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label class="col-form-label">First Name : </label>
                                <input type="text" th:field="*{firstName}" placeholder="First Name*"  class="contact-input"/>
                            </div>

                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="col-form-label">Last Name : </label>
                                <input type="text" th:field="*{lastName}" placeholder="Last Name*"  class="contact-input "/>
                            </div>


                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label class="col-form-label">Email : </label>
                                <input type="email" th:field="*{email}" placeholder="Email"  class="contact-input"/>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="col-form-label">Phone Number : </label>
                                <input type="number" th:field="*{phoneNumber}" placeholder="Phone Number "  class="contact-input"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label class="col-form-label">Password : </label>
                                <input type="password" th:field="*{password}" id="password" placeholder="Password"  class="contact-input" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="col-form-label">Confirm Password : </label>
                                <input type="password" id="confirmPassword" placeholder="Confirm Password"  class="contact-input" oninput="checkPasswordMatch(this)"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label class="col-form-label">Address Line 1 : </label>
                                <input type="text" th:field="*{addressLine1}" placeholder="addressLine1 "  class="contact-input"/>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="col-form-label">Address Line 2 : </label>
                                <input type="text" th:field="*{addressLine2}" placeholder="addressLine2"  class="contact-input"/>
                            </div>
                        </div>
                        <div class="row form-group">

                            <div class="col-sm-5">
                                <label class="col-form-label">Country : </label>
                                <select class="my-form-control" th:field="*{country}">
                                    <th:block th:each="country:${countryList}">
                                        <option th:value="${country.id}">[[${country.name}]]</option>
                                    </th:block>
                                </select>
                                <!--                                <input type="text" th:field="*{country}" placeholder="Country "  class="contact-input"/>-->
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="col-form-label">State : </label>
                                <input type="text" th:field="*{state}" placeholder="state"  class="contact-input" list="listStates"/>
                                <datalist id="listStates"></datalist>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-5">
                                <label class="col-form-label">City : </label>
                                <input type="text" th:field="*{city}" placeholder="City "  class="contact-input"/>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <label class="col-form-label">Postal Code : </label>
                                <input type="text" th:field="*{postalCode}" placeholder="Postal Code"  class="contact-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="text-start">
                        <button type="submit" class="btn btn-style btn-style-3">Sign In</button>
                        <a type="button" value="cancel" class="btn btn-style btn-style-3" th:href="@{/home}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- footer -->
<div th:replace="~{Fragments/footer :: footer}">...</div>
<!-- //footer -->


<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->

<script>

      function checkPasswordMatch(confirmPassword){
        if(confirmPassword.value!=$("#password").val()){
            confirmPassword.setCustomValidity("Password Do not match");
        }
        else{
            confirmPassword.setCustomValidity("");
        }
      }
</script>

<script>
    var dropDownCountry;
    var dataListState;
    var fieldState;
    var contextPath="[[@{/}]]";
    $(document).ready(function() {
        dropDownCountry=$("#country");
        dataListState=$("#listStates");
        fieldState=$("#state");

        dropDownCountry.on("change",function(){
            loadStatesForCountry();
           fieldState.val("").focus();
        });
    });

    function loadStatesForCountry(){
        selectedCountry=$("#country option:selected");
        countryId=selectedCountry.val();
        url=contextPath+"settings/listStatesByCountry/"+countryId;

        $.get(url,function(responseJSON){
            dataListState.empty();

            $.each(responseJSON,function(index,state){
                $("<option>").val(state.name).text(state.name).appendTo (dataListState);
            })
        });
    }

</script>

</body>
</html>