
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Home- eShope','none')"/>
<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">

            <h4 class="inner-text-title pt-5">Dashboard</h4>
            <ul class="breadcrumbs-custom-path">
                <li class="active">Dashboard</li>
<!--                                <li class="active"><i class="fas fa-angle-right"></i>Dashboard</li>-->
            </ul>
        </div>
    </div>
</section>
<!-- /inner banner -->


<!-- courses section -->
<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Best Categories</p>
            <h3 class="title-style">Find The Right Category For You</h3>
        </div>
        <ul class="mb-3">
            <li class="alert alert-success text-center" role="alert" th:if="${message!=null}">[[${message}]] </li>
        </ul>
        <div  class="d-flex  border" style=" flex-wrap:wrap;">
               <div class="p-2" th:each="category:${listCategories}">
                   <div class="p-2 myBorder d-flex align-items-center" style="width:150px; height:100px">
                       <a th:href="@{'/c/'+${category.alias}}" class="p-2"><img th:src="@{${category.getPhotosImagePath}}" width="50" style="border-radius:100px;"></a>
                       <div>
                           <a  th:href="@{'/c/'+${category.alias}}">[[${category.name}]]</a>
                       </div>
                   </div>
               </div>
        </div>
    </div>
</div>
<!-- //courses section -->

<!-- footer -->
<div th:replace="~{Fragments/footer :: footer}">...</div>
<!-- //footer -->


<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->
</body>
</html>