
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/fragment::page_head(${pageTitle},'none')"/>
<body>



<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->


<!-- inner banner -->
<section class="inner-banner py-5">
  <div class="w3l-breadcrumb py-lg-5">
    <div class="container pt-4 pb-sm-4">
      <h4 class="inner-text-title pt-5">[[${product.name}]]</h4>
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{'/'}">Home</a><i class="fas fa-angle-right"></i></li>
        <th:block th:each="parent:${listCategoryParents}">
          <li><a th:href="@{'/c/'+${parent.alias}}">[[${parent.name}]]</a><i class="fas fa-angle-right"></i></li>
        </th:block>
        <li><a th:href="@{'/c/'+${product.category.alias}}">[[${product.category.name}]]</a><i class="fas fa-angle-right"></i></li>
        <li class="active">[[${product.getShortName}]]</li>
      </ul>
    </div>
  </div>
</section>
<!-- //inner banner -->



<!--PRODUCT DETAILS START-->
<div class="row m-5">
  <div class="col-sm">
    <div>
      <img id="bigImage" th:src="@{${product.mainImagePath}}" class="img-fluid" index="0">
    </div>
    <div class="d-flex flex-row justify-content-center ">
      <div class="m-2 border border-secondary p-1">
        <img class="image-thumbnail" th:src="@{${product.mainImagePath}}" height="50" index="0">
      </div>
      <th:block th:each="extraImg,status:${product.images}">
        <div class="m-2 border border-secondary p-1">
          <img class="image-thumbnail" th:src="@{${extraImg.getImagePath}}" height="50" th:index="${status.count}">
        </div>
      </th:block>
    </div>
  </div>
  <div class="col-sm p-4">

    <div>
      <h2>[[${product.name}]]</h2>
    </div>
    <div>
      <span>Brand : [[${product.brand.name}]]</span>
      <div >
        List Price :
        <span th:if="${product.discountPercentage<=0}">$ [[${product.price}]]</span>
        <del th:if="${product.discountPercentage>0}"><span>$ [[${product.price}]]</span></del>
      </div>
      <div th:if="${product.discountPercentage>0}">
        Price :
        <span style="font-size:larger; color:darkred;">$ [[${product.getDiscountPrice}]] </span>
        ([[${product.discountPercentage}]]) % off
      </div>
      <div>&nbsp;</div>
      <div th:utext="${product.shortDescription}"></div>
    </div>
  </div>
  <div class="col-sm-2">
    <div>
      <span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
      <span th:unless="${product.inStock}" class="text-danger"><b>Out of Stock</b></span>
    </div>
    <div class="mt-2">
      <input type="text" size="5" value="1"/>
    </div>
    <div class="mt-3">
      <input type="button" value="Add to Cart" class="btn btn-style">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 p-5">
    <div><hr/></div>
    <div>
      <h3>Product Description :</h3>
    </div>
    <div th:utext="${product.fullDescription}" class="p-2"></div>
  </div>
</div>

<div class="row">
  <div class="col-12 p-5">
    <div><hr/></div>
    <div>
      <h3>Product Details :</h3>
    </div>
   <th:block th:each="detail:${product.details}" >
     <div class="p-2">
       <b>[[${detail.name}]] :</b>
       <span>[[${detail.value }]]</span>
     </div>
   </th:block>
  </div>
</div>
<!--PRODUCT DETAILS END-->

<!-- footer -->
<div th:replace="~{Fragments/footer :: footer}">...</div>
<!-- //footer -->

<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->


<div th:replace="Fragments/images_carousel::content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    bigImage=$("#bigImage");

    $(".image-thumbnail").mouseover(function(){
      currentImageSource=$(this).attr("src");
      currentImageIndex=$(this).attr("index");

      bigImage.attr("src",currentImageSource);
      bigImage.attr("index",currentImageIndex);
    });

    bigImage.on("click",function(){
      $("#carouselModal").modal("show");
      imageIndex=parseInt(bigImage.attr("index"));
      $("#carouselExampleIndicators").carousel(imageIndex);
    });

  });
</script>

</body>
</html>