
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="Fragments/fragment::page_head('Address Book','none')"/>
<body>

<!-- header -->
<div th:replace="~{Fragments/header :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
  <div class="w3l-breadcrumb py-lg-5">
    <div class="container pt-4 pb-sm-4">
      <h4 class="inner-text-title pt-5">Your Address Book</h4>
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{'/'}">Home</a><i class="fas fa-angle-right"></i></li>
        <li class="active">Address Book</li>
      </ul>
    </div>
  </div>
</section>
<!-- //inner banner -->


<section class="w3l-contact py-5" id="contact">
  <div class="px-md-3 py-md-5 py-4">
    <div class="title-main text-center mx-auto mb-md-5 mb-4 " style="max-width:500px;">
      <p class="text-uppercase">Manage Address</p>
      <h3 class="title-style">Address Book</h3>
    </div>

    <ul class="d-flex justify-content-center">
      <li class="alert alert-success text-center w-75" role="alert" th:if="${message!=null}">[[${message}]]</li>
      <li class="alert alert-danger text-center w-75" role="alert" th:if="${error!=null}">[[${error}]]</li>

    </ul>
    <div class="site-section">
      <!-- table full-details-->

      <div  style="margin:auto; ">

        <!--    add new user button    -->
        <div class="row mb-4">
          <div class="overview-wrap d-flex justify-content-end">
            <a th:href="@{/address_book/new}">
              <button class="btn btn-style btn-style-3 text-left">NEW ADDRESS</button>
            </a>

          </div>
        </div>
        <!-- /   add new user button    -->

        <div class="row">
      <div class="col-12 col-md-4">
        <div class=" w3l-grids-block-5 w-75 m-3 ">
          <div class="coursecard-single "  >
            <div class="content-main-top" >
              <div class="content-top mb-4 mt-3" >
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <h6 th:classappend="${usePrimaryAddressAsDefault?'text-warning':''}">Address 1</h6>
                    <th:block th:unless="${usePrimaryAddressAsDefault}">
                      <a th:unless="${param.redirect}" th:href="@{'/address_book/default/0'}" style="margin-left: 0.5rem !important;color:#007185">[Set as Default]</a>
                      <a th:if="${param.redirect}" th:href="@{'/address_book/default/0?redirect=cart'}" style="margin-left: 0.5rem !important;color:#007185">[Set as Default]</a>
                    </th:block>
                    <span th:if="${usePrimaryAddressAsDefault}"  style="margin-left: 0.5rem !important"  class="text-warning">[Default]</span>
                  </div>
                  <a class="fas fa-light fa-pen-to-square" th:href="@{'/address_book/edit/primaryAddress'}"
                   title="edit this Address"></a>
                </div>
                <hr>
              </div>
              <b>[[${customer.fullName}]]</b>
              <br>
              [[${customer.address}]]
              <br>
              Postal Code : [[${customer.postalCode}]]
              <br>
              Phone Number : [[${customer.phoneNumber}]]
            </div>
          </div>
        </div>
      </div>
      <th:block th:each="address,status: ${listAddresses}">
        <div class="col-12 col-md-4">
          <div class=" w3l-grids-block-5 w-75  m-3">
            <div class="coursecard-single " >
              <div class="content-main-top">
                <div class="content-top mb-4 mt-3">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <h6 th:classappend="${address.defaultForShipping?'text-warning':''}">Address  [[${status.count+1}]]</h6>
                      <th:block th:unless="${address.defaultForShipping}">
                        <a th:unless="${param.redirect}" th:href="@{'/address_book/default/'+${address.id}}" style="margin-left: 0.5rem !important;color:#007185">[Set as Default]</a>
                        <a th:if="${param.redirect}" th:href="@{'/address_book/default/'+${address.id}+'?redirect=cart'}" style="margin-left: 0.5rem !important;color:#007185">[Set as Default]</a>
                      </th:block>
                      <span class="text-warning" style="margin-left: 0.5rem !important" th:if="${address.defaultForShipping}">[Default]</span>
                    </div>
                  <div>
                      <a class="fas fa-light fa-pen-to-square m-1" th:href="@{'/address_book/edit/'+${address.id}}"
                         title="edit this Address"></a>
                      <a class="fas fa-light fa-trash m-1" id="deleteBtn" type="button" data-toggle="modal"
                         data-target="#deleteModal" th:attr="data-whatever=${address.Id}"></a>
                    </div>
                  </div>
                  <hr>
                </div>
                <b>[[${address.fullName}]]</b>
                <br>
                  [[${address.details}]]
                <br>
                Postal Code : [[${address.postalCode}]]
                <br>
                Phone Number : [[${address.phoneNumber}]]
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade " id="deleteModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content myModal">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="deleteLabel">Delete Confirmation</h5>

        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="confirmText"></span>
      </div>

      <div class="modal-footer">
        <div class="col-md-2 login-center text-start">
          <a type="button" class="btn btn-style btn-style-3 text-left" id="yesButton">Yes</a>
        </div>
        <div class="col-md-2 login-center text-start">
          <button class="btn btn-style btn-style-3 text-left" id="closeButton" data-dismiss="modal">No
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="~{Fragments/footer :: footer}">...</div>
<!-- //footer -->



<!--    COMMON JAVASCRIPT  -->
<div th:replace="Fragments/fragment::common_JS"></div>
<!--    /COMMON JAVASCRIPT  -->


<script>

$('#deleteModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var recipient = button.data('whatever')
  var modal = $(this)

  modal.find('.modal-body span').text("Are you sure you want to delete this Address  ??")


   let yesButton=document.getElementById('yesButton')
  yesButton.addEventListener('click',()=>{
    window.open("/eShope/address_book/delete/"+recipient,"_self")
  })
})

</script>


<script>
 function myTheme(){
    if(toggleSwitch.checked==true){
    if( document.getElementById('myMenu')!=null){
     document.getElementById('myMenu').style.backgroundColor="black";
    }
      document.getElementsByClassName('myModal')[0].style.backgroundColor="black";
      if(document.getElementsByClassName('myModal')[1]!=null){
        document.getElementsByClassName('myModal')[1].style.backgroundColor="black";
      }


    }else{
     if( document.getElementById('myMenu')!=null){
     document.getElementById('myMenu').style.backgroundColor="white";
    }
    document.getElementsByClassName('myModal')[0].style.backgroundColor="white";
    if(document.getElementsByClassName('myModal')[1]!=null){
        document.getElementsByClassName('myModal')[1].style.backgroundColor="white";
      }
    }}

    setTimeout(myTheme, 100);

    toggleSwitch.addEventListener('click',function(){
        setTimeout(myTheme, 100);
    });
    </script>
</body>
</html>